ipykernel
python-dotenv

#fine tuning model
transformers
peft 
datasets
torch
accelerate
bitsandbytes
trl
scikit-learn

#visualization
matplotlib

#math_calculation
numpy

#data_processing
pandas

#nlp
scipy
